* {
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 700px;
    border: solid black 1px;
}

h1 {
    font-size: 48px;
    text-align: center;
    
}

h2 {
    display: inline-block;
    background-color: bisque;
}

h3 {
    color:rgb(19, 19, 207);
    text-align: center;
    font-size: 36px;
    margin: 10px;
}

p {
    font-size: 24px;
}


/* Colors*/

.colors {
    text-align: center;
    display: inline-block;
    border: solid black 1px;
    width: 300px;
    margin: 5px;
    padding: 50px 5px 50px 5px;
    height: 280px;    
}

#blue {
    background-color: rgb(19, 19, 207);
}
#red {
    background-color: rgb(233, 17, 17);
}
#yellow {
    background-color: rgb(221, 221, 31);
}
#pink {
    background-color: rgb(168, 14, 96);
}


/* font-families */

.left {
    height: 280px;
    width: 48%;
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
    float: left;
    overflow: scroll;
}

.right {
    height: 280px;
    width: 48%;
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
    float: right;
    overflow: scroll;
}

#Ubuntu {
    font-family: 'Ubuntu';
    background-color: gray;

}

#Mali {
    font-family: 'Mali';
    }

#ReenieBeanie {
    font-family: 'Reenie Beanie';
    background-color: gray;
}

#IndieFlower {
    font-family: 'Indie Flower';
    
}


/* background-image for headings, text and structure */

.Bild {
    background-image: url(/Users/uli/ProgrammierWorkSpace/projects/Webseiten-Formate/resources/662bb991-c787-410e-81a7-3059a10d1d8d.jpg);
    }


